@import './base.css';

@font-face {
  font-family: 'Poiret_One';
  src: url('/fonts/poiret_one.eot'); /* IE 9 Compatibility Mode */
  src:
    url('/fonts/poiret_one.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('/fonts/poiret_one.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/poiret_one.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('/fonts/poiret_one.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/poiret_one.svg#poiret_one') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'DidactGothic';
  src: url('/fonts/didactgothic.eot'); /* IE 9 Compatibility Mode */
  src:
    url('/fonts/didactgothic.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('/fonts/didactgothic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/didactgothic.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('/fonts/didactgothic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/didactgothic.svg#didactgothic') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
  font-family: 'DidactGothic', sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 500;
  line-height: 1.3;
  font-family: 'Poiret_One';
}

@media (min-width: 300px) {
  .adapt-h {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .adapt-h {
    font-size: 27px;
  }
}
/* на md */
@media (min-width: 992px) {
  .adapt-h {
    font-size: 30px;
  }
}
/* на lg */
@media (min-width: 1200px) {
  .adapt-h {
    font-size: 33px;
  }
}
.port_header {
  justify-content: center;
  align-items: start;
  background-color: #fff;
}

.el_tab_top {
  align-self: last baseline;
  align-content: center;
}

.el_tab_top_simb {
  margin-left: 3px;
  margin-right: 3px;
}

.top_menu_but::before {
  content: '|';
  margin-left: 3px;
  margin-right: 3px;
}

.top_menu_but {
}

.group_top_menu_but {
}
.port_logo {
  height: 100%;
}

.but_txt {
}

.main_txt {
  text-decoration: underline;
}

.normal_but {
  margin-top: 10px;
  margin-bottom: 15px;
}
.help_but_circle {
}

.port_title {
  text-align: start;
  justify-content: start;
  height: 100%;
}
.adapt-h {
  margin-left: 30px;
  margin-bottom: 0;
}

.tmp_edit {
  background-color: #8aa181;
}

.margin_but_10 {
  margin-bottom: 20px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_left_10 {
  margin-left: 10px;
}

.top_att {
  margin-left: 15px;
  margin-top: 15px;
  padding: 3px;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  max-width: 1400px;
}

.u_header {
  background: #ffffff;
  padding: 0;
  margin: 0px;
}
.u_aside {
  background: #8aa181;
}
.u_main {
  background: #ffffff;
}
.u_footer_row2 {
  background: #303030;
  min-height: 500px;
  padding: 10px;
}
.u_footer_row1 {
  background: #303030;
  padding: 10px;
}
.head_but {
  margin-left: 15px;
  margin-top: 15px;
}

.head_but_badge {
}

.head_line_but {
  text-align: right;
}
.head_line {
  border-bottom: 1px solid #000000;
  background: #ffffff;
  padding-bottom: 5px;
  height: 55px;
}

.under_line {
  border-bottom: 1px solid #000000;
  background: #ffffff;
  padding-bottom: 5px;
}
.border_right {
  border-right: 1px solid #000000;
}

.border_top {
  border-top: 1px solid #000000;
  padding-bottom: 5px;
}
.user_message_margin_left {
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.txt_wight {
  color: #fff;
}
.txt_gray {
  color: #aaa;
  margin: 20px;
}
.txt_big_size {
  color: #4e4e4ece;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: 30px;
  display: block;
}

.txt_in_message {
}

.circle_img {
  border-radius: 300px;
  height: 120px;
  width: 120px;
  margin: 15px;
}

.user_avatar_circle {
  border-radius: 300px;
  height: 50px;
  width: 50px;
  margin: 15px;
}
.user_small_kard {
  min-width: 600px;
  max-width: 600px;
}
.user_avatar_sm_circle {
  border-radius: 300px;
  height: 40px;
  width: 40px;
  margin: 15px;
  align-self: center;
}
.txt_in_sm_kard {
}
.but_in_users_sm_kard::before {
  content: ' ';
  margin-left: 5px;
}

.tutor_message {
  border-radius: 8px;
  background: #d4e6b5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.el-icon {
  cursor: pointer;
}
